.page-header {
    &__menu {
        a  {
            position: relative;
            color: white;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0;
                height: 2px;
                background-color: $c-purple;
                display: block;
                transition-property: color, width;
                transition-duration: 0.4s;
                transition-timing-function: ease;
            }

            &:hover {
                color: $c-purple;

                &::before {
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
        }
    }
}

.social-block {
    &__toggler {
        transition-property: color;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;

        &::before {
            width: 0;
            height: 0;
            transition-property: width, height;
            transition-duration: 0.5s;
            transition-timing-function: ease-out;
        }
    }
}

.social-block {
    &__link {
        opacity: 0;
        transform: translateY(1rem);
        transition-property: opacity, transform, color;
        transition-duration: 0.6s;
        transition-timing-function: ease;
    }

    &__list {

        li {

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) a {
                    transition-delay: (0.2s * $i), (0.2s * $i), 0.2s;
                }
            }
        }
    }

    &--active {
        .social-block {
            &__link {
                opacity: 1;
                transform: none;
            }
        }
    }
}

.screen {
    &.active {
        .intro__message {
            p {
                transform: none;
                opacity: 1;
                visibility: visible;
            }
        }

        .form {
            &#message-form {

                .form__field {
                    width: calc(100% - 21rem);

                    &::placeholder {
                        color: #757575;
                    }
                }
            }
        }
    }
}

.intro__message {
    p {
        transform: translateY(3rem);
        opacity: 0;
        visibility: hidden;
        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: linear;
    }
}

.slider {
    &__item-text {
        opacity: 0;
        visibility: hidden;
        transform: translateX(4rem);
        transition-property: opacity, visibility, transform;
        transition-duration: 0.4s;
        transition-timing-function: ease;
    }
}

.swiper-slide {
    &-active,
    &-next {
        .slider {
            &__item-text {
                opacity: 1;
                visibility: visible;
                transform: none;
            }
        }
    }
}

.swiper-slide {
    &-next {
        .slider {
            &__item-text {
                transition-delay: 0.2s;
                transition-duration: 0.6s;
            }
        }
    }
}

.form {
    &#message-form {
        justify-content: flex-end;

        .form__field {
            width: 0;
            transition-property: width;
            transition-duration: 0.5s;
            transition-timing-function: linear;

            &::placeholder {
                color: transparent;
                transition-property: color;
                transition-delay: 0.5s;
                transition-duration: 0.3s;
                transition-timing-function: linear;
            }
        }


        .form__button {
            flex-grow: 0;
        }
    }
}

.page-header {
    &__logo {
        transform: translateX(-2rem);
        opacity: 0;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(.5,.31,.28,1);
    }

    &__nav {
        transform: translateX(0.5rem);
        opacity: 0;
        transition-property: all;
        transition-duration: 0.2s;
        transition-delay: 0.2s;
        transition-timing-function: cubic-bezier(.5,.31,.28,1);
    }
}

.screen__footer {
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.5,.31,.28,1);
}

.loaded {
    .page-header {
        &__logo {
            opacity: 1;
            transform: none;
        }

        &__nav {
            opacity: 1;
            transform: none;
        }
    }

    .social-block {
        &__toggler {
            &::before {
                width: 100%;
                height: 100%;
                animation: 0.6s move cubic-bezier(.1,1.84,.92,.93) both 1 alternate;
            }

            &:hover {
                &::before {
                    width: 112.5%;
                    height: 112.5%;
                }
            }
        }

        &--active {
            .social-block {
                &__toggler {
                    &::before {
                        width: 112.5%;
                        height: 112.5%;
                    }
                }
            }
        }
    }

    .screen__footer {
        transform: none;
    }
}

.curtain {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background: #5f458c;
    //z-index: 9;
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

body {
    background-color: transparent;
}

.screen--prizes {
    background-color: transparent;

    &.active {
        .curtain {
            height: 100%;
        }
    }
}