.page-header {
    &__menu {
        a  {
            position: relative;
            color: white;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0;
                height: 2px;
                background-color: $c-purple;
                display: block;
                transition-property: color, width;
                transition-duration: 0.4s;
                transition-timing-function: ease;
            }

            &:hover {
                color: $c-purple;

                &::before {
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
        }
    }
}

.social-block {
    &__toggler {
        transition-property: color;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;

        &::before {
            width: 0;
            height: 0;
            transition-property: width, height;
            transition-duration: 0.5s;
            transition-timing-function: ease-out;
        }
    }
}

.social-block {
    &__link {
        opacity: 0;
        transform: translateY(1rem);
        transition-property: opacity, transform, color;
        transition-duration: 0.6s;
        transition-timing-function: ease;
    }

    &__list {

        li {

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) a {
                    transition-delay: (0.2s * $i), (0.2s * $i), 0.2s;
                }
            }
        }
    }

    &--active {
        .social-block {
            &__link {
                opacity: 1;
                transform: none;
            }
        }
    }
}

.screen {
    &.active {
        .intro__message {
            p {
                transform: none;
                opacity: 1;
                visibility: visible;
            }
        }

        .form {
            &#message-form {

                .form__field {
                    width: calc(100% - 21rem);

                    &::placeholder {
                        color: $c-gray;
                    }
                }
            }
        }
    }
}

.intro__message {
    p {
        transform: translateY(3rem);
        opacity: 0;
        visibility: hidden;
        transition-property: all;
        transition-delay: 1s;
        transition-duration: 0.4s;
        transition-timing-function: linear;
    }
}

.slider {
    &__item-text {
        opacity: 0;
        visibility: hidden;
        transform: translateX(4rem);
        transition-property: opacity, visibility, transform;
        transition-duration: 0.4s;
        transition-timing-function: ease;
    }
}

.swiper-slide {
    &-active,
    &-next {
        .slider {
            &__item-text {
                opacity: 1;
                visibility: visible;
                transform: none;
            }
        }
    }
}

.swiper-slide {
    &-next {
        .slider {
            &__item-text {
                transition-delay: 0.2s;
                transition-duration: 0.6s;
            }
        }
    }
}

.form {
    &#message-form {
        justify-content: flex-end;

        .form__field {
            width: 0;
            transition-property: width;
            transition-duration: 0.5s;
            transition-timing-function: linear;

            &::placeholder {
                color: transparent;
                transition-property: color;
                transition-delay: 0.5s;
                transition-duration: 0.3s;
                transition-timing-function: linear;
            }
        }


        .form__button {
            flex-grow: 0;
        }
    }
}

.page-header {
    &__logo {
        transform: translateX(-2rem);
        opacity: 0;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(.5,.31,.28,1);
    }

    &__nav {
        transform: translateX(0.5rem);
        opacity: 0;
        transition-property: all;
        transition-duration: 0.2s;
        transition-delay: 0.2s;
        transition-timing-function: cubic-bezier(.5,.31,.28,1);
    }
}

.screen__footer {
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.5,.31,.28,1);
}

.loaded {
    .page-header {
        &__logo {
            opacity: 1;
            transform: none;
        }

        &__nav {
            opacity: 1;
            transform: none;
        }
    }

    .social-block {
        &__toggler {
            &::before {
                width: 100%;
                height: 100%;
                animation: 0.6s move cubic-bezier(.1,1.84,.92,.93) both 1 alternate;
            }

            &:hover {
                &::before {
                    width: 112.5%;
                    height: 112.5%;
                }
            }
        }

        &--active {
            .social-block {
                &__toggler {
                    &::before {
                        width: 112.5%;
                        height: 112.5%;
                    }
                }
            }
        }
    }

    .screen__footer {
        transform: none;
    }
}

.curtain {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background: $c-dark;
    //z-index: 9;
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

// body {
//     background-color: transparent;
// }

.screen--prizes {
    background-color: transparent;

    &.active {
        .curtain {
            height: 100%;
        }
    }
}

.rules__item {
    &::before {
        /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0,1.8,1,1);
        animation-delay: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-play-state: running;
        animation-name: bullet;
    }

    p {
        /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(.5,.30,.6,1);
        animation-delay: 0.8s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-play-state: running;
        animation-name: rules_text;
        opacity: 0;
    }

    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            &::before,
            p {
                animation-delay: (0.2s * $i);
            }
        }
    }
}

@keyframes bullet {
    from {
        transform: scale(0);
        opacity: 0;
        overflow: hidden;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rules_text {
    from {
        transform: translateX(3rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.rules__link {
    /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
    animation-duration: 0.5s, 0.2s;
    animation-timing-function: cubic-bezier(0,1,1,1), cubic-bezier(0,1,1,1);
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1, 1;
    animation-direction: normal, normal;
    animation-fill-mode: both, both;
    animation-play-state: paused, paused;
    animation-name: drove, drove_bg;

    &::before {
        /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
        animation-duration: 0.01s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-play-state: paused;
        animation-name: add;
    }
}

@keyframes drove {
    0% {
        font-size: 0;
    }
    50% {
        font-size: 0;
    }
    100% {
        font-size: 2.4rem;
    }
}

@keyframes add {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes drove_bg {
    0% {
        color: transparent;
    }
    100% {
        color: $c-dark;
    }
}

// Slogan
.intro__title,
.intro__date,
#story .slider__item-title,
#prizes .prizes__title,
#rules .rules__title,
#game .game__title {
    max-width: 102rem;
    min-height: 6.5rem;
    opacity: 0;

    .text__word {
        display: inline-block;
        margin: 0 5px;
        overflow: hidden;

        & > span {
            transform: translate3d(0, 1em, 0);
            display: inline-block;
        }
    }

    &.active {
        opacity: 1;

        .text__word {
            & > span {
                transform: translate3d(0, 0, 0);
                vertical-align: sub;
            }
        }
    }
}

.game__buttons {
    display: block;
}

// Viktory
.result__image {
    /* background: url('../img/flamingo.png') no-repeat left calc(50% - 85px) bottom 12rem/ 250px,
                url('../img/suitcase.png') no-repeat right 50% bottom 11rem/ 350px,
                url('../img/leaf blue 2.png') no-repeat left calc(50% - 200px) bottom 11rem,
                url('../img/leaf green.png') no-repeat left calc(50% + 180px) bottom 17rem,
                url('../img/leaf blue 1.png') no-repeat right calc(50% - 180px) bottom 18rem; */

    picture {
        height: auto;

        &.result__image {

            &-leaf1 {
                position: absolute;
                right: calc(50% - 318px);
                bottom: 18rem;
                width: 279px;
                transform-origin: left center;

                /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
                animation-duration: 1.8s;
                animation-timing-function: ease-out;
                animation-delay: 1.5s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: both;
                animation-play-state: running;
                animation-name: leaf1;
            }

            &-leaf2 {
                position: absolute;
                left: calc(50% - 344px);
                bottom: 11rem;
                width: 279px;
                transform-origin: right center;

                /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
                animation-duration: 1.8s;
                animation-timing-function: ease-out;
                animation-delay: 1.5s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: both;
                animation-play-state: running;
                animation-name: leaf2;
            }

            &-green {
                position: absolute;
                left: calc(50% + 15px);
                bottom: 17rem;
                width: 332px;
                transform-origin: left center;
                /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
                animation-duration: 1.8s;
                animation-timing-function: ease-out;
                animation-delay: 1.7s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: both;
                animation-play-state: running;
                animation-name: green;
            }

            &-suitcase {
                position: absolute;
                right: 50%;
                bottom: 11rem;
                /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
                animation-duration: 0.7s;
                animation-timing-function: cubic-bezier(0.42, 0, 0.43, 1.4);
                animation-delay: 1s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: both;
                animation-play-state: running;
                animation-name: suitcase;
            }

            &-flamingo {
                position: absolute;
                left: calc(50% - 210px);
                bottom: 0;
                width: 250px;
                transform-origin: center bottom 100px;
                /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
                animation-duration: 0.5s, 2s;
                animation-timing-function: linear, linear;
                animation-delay: 1s, 3s;
                animation-iteration-count: 1, infinite;
                animation-direction: normal, normal;
                animation-fill-mode: both, forwards;
                animation-play-state: running, running;
                animation-name: flamingo, vibration;
            }
        }
    }
}

@keyframes leaf1 {
    0% {
        opacity: 0;
        transform: rotate(-45deg);
    }
    30% {
        opacity: 0.5;
        transform: rotate(7deg);
    }
    50% {
        opacity: 0.65;
        transform: rotate(-10deg);
    }
    65% {
        opacity: 0.85;
        transform: rotate(3deg);
    }
    85% {
        opacity: 1;
        transform: rotate(-3deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0);
    }
}

@keyframes leaf2 {
    0% {
        opacity: 0;
        transform: rotate(60deg);
    }
    30% {
        opacity: 0.50;
        transform: rotate(-12deg);
    }
    50% {
        opacity: 0.65;
        transform: rotate(20deg);
    }
    65% {
        opacity: 0.85;
        transform: rotate(-3deg);
    }
    85% {
        opacity: 1;
        transform: rotate(3deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0);
    }
}

@keyframes green {
    0% {
        opacity: 0;
        transform: rotate(-35deg);
    }
    30% {
        opacity: 0.5;
        transform: rotate(7deg);
    }
    50% {
        opacity: 0.65;
        transform: rotate(-8deg);
    }
    65% {
        opacity: 0.85;
        transform: rotate(3deg);
    }
    85% {
        opacity: 1;
        transform: rotate(-3deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0);
    }
}

@keyframes suitcase {
    0% {
        width: 0;
        transform: translateX(0) translateY(0);
    }
    100% {
        width: 350px;
        transform: translateX(175px) translateY(1rem);
    }
}

@keyframes flamingo {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(-15deg);
    }
    100% {
        opacity: 1;
        transform: translateY(-12rem) rotate(0deg);
    }
}

@keyframes vibration {
    0% {
        transform: translateY(-12rem) rotate(0deg);
    }
    33% {
        transform: translateY(-13rem) rotate(-2deg);
    }
    67% {
        transform: translateY(-11rem) rotate(2deg);
    }
    100% {
        transform: translateY(-12rem) rotate(0deg);
    }
}

.form {
    &--result {
        justify-content: flex-end;

        .form {
            &__button {
                width: 31rem;
                flex-grow: 0;
                /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
                animation-duration: 0.3s;
                animation-timing-function: linear;
                animation-delay: 0.5s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: both;
                animation-play-state: paused;
                animation-name: sendbtn;

                &::before {
                    /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
                    animation-duration: 0.3s;
                    animation-timing-function: linear;
                    animation-delay: 0s;
                    animation-iteration-count: 1;
                    animation-direction: normal;
                    animation-fill-mode: both;
                    animation-play-state: paused;
                    animation-name: sendbtnbg;
                }
            }
        }

        .form__button {
            flex-grow: 0;
        }

        .form__field{
            width: 0;
            padding: 3rem;
            transition-property: all;
            transition-delay: 0.7s;
            transition-duration: 0.5s;
            transition-timing-function: linear;
            opacity: 0;

            &::placeholder {
                color: transparent;
                transition-property: color;
                transition-delay: 1.1s;
                transition-duration: 0.3s;
                transition-timing-function: linear;
            }

            &--active {
                width: calc(100% - 31rem);
                padding: 0 5.6rem;
                opacity: 1;

                &::placeholder {
                    color: $c-gray;
                }
            }
        }
    }
}

@keyframes sendbtnbg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes sendbtn {
    0% {

        color: transparent;
    }
    100% {
        color: $c-dark;
    }
}
